* {
    padding: 0;
    margin: 0;
    background-color: #FF5C5C;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #eaeaea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tab.active {
    background-color: #ccc;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-type {
    margin-right: 10px;
}

.card-type img {
    width: 24px;
    height: 24px;
}

.card-content {
    flex-grow: 1;
}

.card-name {
    margin: 0;
    font-size: 16px;
}

.card-details {
    margin: 5px 0;
    font-size: 14px;
}